[Unit]
Description=Example Python Flask Application
After=network.target

[Service]
ExecStart=/opt/example/run.sh
User=www-data
Group=www-data
Restart=always
WorkingDirectory=/opt/example
Environment="PORT=5001"


[Install]
WantedBy=multi-user.target

